# Global
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
.env

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Next.js
.next/
out/
build/
